.smile-face {
  width: 2rem;
  height: 2rem;

  & .smile-face__icon {
    transform: rotate(-45deg);
  }

  &.smile-face--small {
    width: 1.2rem;
    height: 1.2rem;
  }

  &.smile-face--medium {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.smile-face--animated {
    animation: wiggle 1s ease-in-out infinite;
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
